<!DOCTYPE html>
<html lang="en">
	<head>
	<!-- add relelvant links, styles, modernize, etc. in the header of this handlebars page -->
		<title>Foogle</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>