<div>
	<h1>Form to add an item</h1>
</div>

<div>
	
	<form action="/create" method="POST">

 		<label>Description:</label>
 		<input type="text" name="Description">
 		<br />

 		<label>Item Number:</label>
 		<input type="text" name="ItemNumber">
 		<br />

 		<label>Quantity - MAH:</label>
 		<input type="text" name="QuantityMAH">
 		<br />

		<label>Quantity - CH:</label>
 		<input type="text" name="QuantityCH"> 	
 		<br />

 		<label>Quantity - ESP:</label>
 		<input type="text" name="QuantityESP">	
 		<br />

 		<label>Quantity - HNY:</label>
 		<input type="text" name="QuantityHNY">
 		<br />

  		<button type="submit">Add to Inventory</button>
	</form>

</div>