<div>
	<h1>Add an Item to Inventory</h1>
	<h2>All fields are required.</h2>
</div>

<div>
	
	<form action="/create" method="POST">

 		<label>Description:</label>
 		<input type="text" name="Description">
 		<br />

 		<label>Item Number:</label>
 		<input type="text" name="ItemNumber">
 		<br />

 		<label>Quantity - MAH:</label>
 		<input type="text" name="QuantityMAH">
 		<br />

		<label>Quantity - CH:</label>
 		<input type="text" name="QuantityCH"> 	
 		<br />

 		<label>Quantity - ESP:</label>
 		<input type="text" name="QuantityESP">	
 		<br />

 		<label>Quantity - HNY:</label>
 		<input type="text" name="QuantityHNY">
 		<br />

  		<button class="btn btn-info btn-lg" type="submit">Add to Inventory</button>
	</form>

	<form action="/">
	<button class="btn btn-info btn-lg" type="submit">Home</button>
	</form>
</div>